ion-icon {
  font-size: 1.5rem;
  color: var(--ion-color-primary);
  margin-right: 0.5rem;
}


.ButtonInputWrapper {
  height: 100%;
  width: 100%;
  border-color: #d9d9d9;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background: #d9d9d9;
  flex-shrink: 0;
  padding-left: 1vw;

}

.textContainer{
  margin-left: 0.5vw;
  text-align: center;
  align-items: center;
  color: black;
  font-family: Poppins;
  font-size: 1.2em;
  font-weight: 800;
}

.textStyle{
  border-left: 1px solid black;
  padding-left: 0.5vw;
  text-align: center;
  color: black;
  font-family: Poppins;
  font-size: 1.2em;
  font-weight: 800;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  
}
