.header {
    background-color: #4786ff;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.buttonContainer{
  width: 50%;
  float: right;
}

.tittle-1 {
    color: #ffffff;
    text-align: left;
    font: 400 6vh 'Playfair Display', sans-serif;
    padding-left: 4vw;
    top: 0.5vh;
    width: 80%;
    float: left;
    position: relative;
    padding: 1vh 2vw;
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
}

.button {
    top: 2.8vh;
    position: relative;
    right: 3vw;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #a2a1a136;
    align-items: center;
    justify-content: center;
    color: #666666b7;
    text-align: center;
    font: 400 3vh 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    width: auto;
    padding: 1vh 2vw;
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
    float: right;
  }
  
  .button:hover {
    background-color: #f2f2f2;
  }
  
  .button:active {
    background-color: #d9d9d9;
  }


